<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for photo functionality -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    <!-- Camera feature (optional) -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MedicationRemindersApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicationReminders">

        <activity
            android:name=".view.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".view.MainActivity"
            android:exported="false"
            android:launchMode="singleTop" />

        <activity
            android:name=".view.AddMedicationActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.MedicationListActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.MedicationDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.MedicationListActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.ProfileEditActivity"
            android:exported="false"
            android:parentActivityName=".view.ProfileActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.HealthDiaryListActivity"
            android:exported="false"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.HealthDiaryDetailActivity"
            android:exported="false"
            android:parentActivityName=".view.HealthDiaryListActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <activity
            android:name=".view.HealthDiaryEditActivity"
            android:exported="false"
            android:parentActivityName=".view.HealthDiaryListActivity"
            android:theme="@style/Theme.MedicationReminders.ElderlyFriendly" />

        <!-- FileProvider for camera photo capture -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>